{%extends 'myapp/patients/patientdashboard.html'%}

{%block body%}
{%for info in info%}
<section class="team-agile py-lg-5">
<div class="pb-5 typo-wthree">
    <div class="container py-sm-5 pt-5 pb-0">
        <div class="title-section text-center pb-lg-5">
            <h4>world of medicine</h4>
            <h3 class="w3ls-title text-center text-capitalize">Your Notifications</h3>
        </div>
    <div class="d-flex p-2 bg-flex mb-1">Appointment NO:{{info.id}}</div>
     <div class="col-md-8 team-text mt-md-0 mt-5">
        <h4>Doctor Name:{{info.doctors.user.username}}</h4>
        <small>{{info.doctors.specialization}}</small>
        <p class="my-1">Message from doctor:{{info.message}}</p>
        <ul class="list-group mb-3">
           <p >Details to join:</p>
            <li class="list-group-item border-0">
                <i class="far fa-check-square  mr-3"></i>meeting_name:{{info.meeting_name}}</li>
                <li class="list-group-item border-0 py-0">
            <li class="list-group-item border-0 py-0">
                <i class="far fa-check-square  mr-3"></i>
                Meeting ID : {{info.meeting_id}}</li>
            <li class="list-group-item border-0">
                <i class="far fa-check-square  mr-3"></i>
                Meeting password : {{info.password}}</li>
            <li class="list-group-item border-0">
                <i class="fas fa-calendar-alt  mr-3"></i>
                <span class="ot">Date of Appointment:{{info.date}} </span>
            </li>
            <li class="list-group-item border-0">
            <i class="far fa-clock  mr-3"></i>
                <span class="ot">Start_time:{{info.start_time}}</span>
            </li>
            <li class="list-group-item border-0">
            <i class="far fa-clock  mr-3"></i>
                <span class="ot">End_time:{{info.end_time}} </span>
            </li>
        </ul>
        
    </form>
    <form action="https://zoom.us/join" target="_blank">
        <input type="submit" class="btn_apt" data-toggle="modal" data-target="#exampleModalLabel2" value="Join" />
    </form>
    
    </div>
</div>
</section>
{%endfor%}
    {%endblock%}