body{
    margin: 0;
    background: #f2f2f2;
    width: 100%;
}
body h2{
  color: #fa4299;
  font-family: cursive;
  padding: 0px;
  margin: 0px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  height:8.3%;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 110%;
}



/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(63, 10, 252);
  color: white;
}

/* Add a color to the active/current link */
.topnav a {
  background-color: #333;
  color: white;
}
.topnav .search-container {
  float: left;
  margin-left: 4px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}




.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


footer{
  width: 100%;
  float: left;
  color: white;
padding: 30px 0;
background: black;
}

footer .footer-box{
  width: 25%;
  float: left;
  height: 100%;
}
footer .footer-box a{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}
footer .footer-box a:hover{
  text-decoration: none;
  color: red;
}
footer p{
  clear: both;
  background-color:brown;
  padding: 10px;
  text-align: center;
  color: white;
}
section p{
  color:brown;
  text-transform: capitalize;
  font-family: cursive;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
