{%extends 'myapp/doctor/doctordashboard.html'%}
{%load static%}
{% block body %}

<section class="team-agile py-lg-5">
    <div class="container py-sm-5 pt-5 pb-0">
        <div class="title-section text-center pb-lg-5">
            <h4>world of medicine</h4>
            <h3 class="w3ls-title text-center text-capitalize">Your Notifications</h3>
        </div>
        <div class="row mt-5 pb-lg-5">
            <div class="col-md-4 border p-0 my-auto">
                <img src="{%static 'myapp/images/patient.jpg'%}" class="img-fluid" alt="team-img" />
            </div>
            <div class="col-md-8 team-text mt-md-0 mt-5">
                <h4>MR/S. {{info.patients.username}}</h4>
                <small>PATIENT_Id:{{info.patients.id}}</small>
                <p class="my-3">Donec consequat sapien ut leo cursus rhoncus.Quisque velit nisi, pretium ut lacinia in, elementum id
                    enim. Cras ultricies ligula Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla accumsan
                    ac elit in congue.</p>
                <ul class="list-group mb-3">
                    <li class="list-group-item border-0">
                        <i class="far fa-check-square  mr-3"></i>virtual hospital</li>
                    <li class="list-group-item border-0 py-0">
                        <i class="far fa-check-square  mr-3"></i>
                        phone : 10 digit</li>
                    <li class="list-group-item border-0">
                        <i class="far fa-check-square  mr-3"></i>
                        State : </li>
                    <li class="list-group-item border-0 py-0">
                        <i class="far fa-check-square  mr-3"></i>Nepal</li>
                    
                </ul>
                <a href="#" class="btn_apt" data-toggle="modal" data-target="#exampleModalLabel2">Acknowledge appointment </a>
            </div>
        </div>
        
    </div>
       
</section>

<!-- //team -->


<!-- //quick contact -->
<!-- copyright -->

<!-- //copyright -->
<!-- //Appointment modal -->
<div class="modal fade" id="exampleModalLabel2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Fill details below to confirm appointment request</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="wthree-info">

                    <div class="login">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Meeting name</label>
                                <input type="text" class="form-control" placeholder=" " name="Meeting name" id="recipient-name" required="">
                            </div>
                            <div class="form-group">
                                <label for="recipient-phone" class="col-form-label">Zoom-Meeting id</label>
                                <input type="text" class="form-control" placeholder=" " name="Zoom-Meeting id" id="recipient-phone" required="">
                            </div>
                            <div class="form-group">
                                <label for="recipient-phone" class="col-form-label">Password</label>
                                <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-phone" required="">
                            </div>
                            <div class="form-group">
                                <label for="datepicker" class="col-form-label">Choose Date of Appointment</label>
                                <input placeholder="Date" class="date form-control" id="datepicker" type="date" name="date" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"
                                    required="" />
                            </div>
                            <div class="form-group">
                                <label for="datepicker" class="col-form-label">Start time</label>
                                <input placeholder="Date" class="date form-control" id="datepicker" type="time" name="start time" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"
                                    required="" />
                            </div>
                            <div class="form-group">
                                <label for="datepicker" class="col-form-label">End time</label>
                                <input placeholder="Date" class="date form-control" id="datepicker" type="time" name="end time" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"
                                    required="" />
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
                              </div>
                              <button value="{{user.pk}}" name="patient" class="btn_apt" data-toggle="modal" data-target="#exampleModalLabel2">Acknowledge appointment </a>

                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Appointment modal -->
<!-- js -->
<script src="static 'myapp/js/jquery-2.2.3.min.js'"></script>
<!-- //js -->
<!-- //fixed quick contact -->
<script>
    $(function () {
        var hidden = true;
        $(".heading").click(function () {
            if (hidden) {
                $(this).parent('.outer-col').animate({
                    bottom: "0"
                }, 1200);
            } else {
                $(this).parent('.outer-col').animate({
                    bottom: "-305px"
                }, 1200);
            }
            hidden = !hidden;
        });
    });
</script>
<!-- //fixed quick contact -->
<!--start-date-piker-->
<link rel="stylesheet" href="static 'myapp/css/jquery-ui.css'" />
<script src="static 'myapp/js/jquery-ui.js'"></script>
<script>
    $(function () {
        $("#datepicker,#datepicker1").datepicker();
    });
</script>
<!-- //End-date-piker -->
<!-- start-smooth-scrolling -->
<script src="{%static 'myapp/js/easing.js'%}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script src="{%static 'myapp/js/SmoothScroll.min.js'%}"></script>
    <!-- //end-smooth-scrolling -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{%static 'myapp/js/bootstrap.js'%}"></script>

{% endblock %}