<!DOCTYPE html>
<html lang="en">
  {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'myapp/css/contact.css'%}">
</head>
<body>
  <div class="topnav">
    <div class="home"><a href="{%url 'searchhospital'%}" >Search Hospitals
    </a></div>
    <div class="contact"><a href="{%url 'contact'%}">Contact</a></div>
    <div class="login"><a href="{%url 'show_login'%}">Login</a></div>
    <div class="home"><a href="index.html">Home</a></div>
    
    <div class="search-container">
    <h2>VH</h1>
    </div>
    
</div>
    <h2 >Contact Form</h2>
    <div class="container">
      <form action="action_page.php">
    
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="nepal">Nepal</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="Brazil">Brazil</option>
          <option value="Brazil">Australia</option>
        </select>
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write Your message.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
        </form>
      </div>
    </div>
 
   <footer>
  <div class="w-80">
      <div class="footer-box">
          <h2><a="service.html">Services</h2></a>
              <a >Daily Monitoring</a>
              <a>Meet Renowed Doctors</a>
              <a >Virtual Prescription</a>
              <a>Upadate Patient Record</a>
              <a >Notification for Patients</a>
      </div>
      
      <div class="footer-box">
          <h2><a href="contact.html">Contact US</h2></a>
          <a >Post a Query</a>
          <a>Search Nearby Hospitals</a>
          <a >Emergency Numbers List</a>
          <a>Ask Question</a>
      </div>
      
      <p>Copyright &copy;Virtaul Hospital</p>
  </div>
</body>
</html>