{% comment %}
{% extends "myapp/base2.html" %}


 
{% block title %}
Login
{% endblock %}
{%block link%}
 
<link rel=”stylesheet” href="{% static 'myapp/css/login.css' %}">
{%endblock%}
{% block body %}
{% endcomment %}
{% comment %}<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"action="{% url 'search' %}" method="POST">
      {%csrf_token%}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="disease">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{%if diseaseobj%}
{%for disease in diseaseobj%}
<ul>
<h1>{{disease.Disease}}</h1>
<li>{{disease.Precaution_1}}</li>
<li>{{disease.Precaution_2}}</li>
<li>{{disease.Precaution_3}}</li>
<li>{{disease.Precaution_4}}</li>
</ul>
{%endfor%}
{%endif%}
<button onclick="hello();">hello</button>
-->{% endcomment %}
{% comment %}
{%if message%}
{{messages}}
{%endif%}
<h1>Login</h1>

{% if message %}
<div>
    {{ message }}
</div>
{% endif %}
<form action="{% url 'do_login' %}" method="post">
{% csrf_token %}
<input name="username" type="text"/>
<input name="password" type="password"/>
<input type="submit" value="Login"/>
<div>
</form>

{% endblock %}
{% endcomment %}



<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width" >   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
</head>
<body>

    <div class="bg-img">
        <div class="content">
          
          <header> Login</header>
          {% if messages %}
            {% for message in messages %}
              <div class="text-light alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% if message %}
          <p class="text-white bg-danger">{{message}}</p>
          {% endif %}
          <form action="{% url 'do_login' %}" method="post">
            {% csrf_token %}
            
            <div class="field">
              <span class="fa fa-user"></span>
              <input name="username" type="text" required placeholder="username"/>
            </div>
  <div class="field space">
              <span class="fa fa-lock"></span>
              <input type="password" name="password" class="pass-key" required placeholder="Password">
              <span class="show">show</span>
            </div>
  <div class="pass">
              <a href="#">Forgot Password?</a>
  </div>


  <div class="field">
              <input type="submit" value="Login">
            </div>
  </form>
  
  <div class="signup">
  Don't have account?
            <a href="{%url 'register'%}">Signup Now</a>
          </div>
  </div>
  </div>
  <script>
        const pass_field = document.querySelector('.pass-key');
        const showBtn = document.querySelector('.show');
        showBtn.addEventListener('click', function(){
         if(pass_field.type === "password"){
           pass_field.type = "text";
           showBtn.textContent = "hide";
           showBtn.style.color = "#3498db";
         }else{
           pass_field.type = "password";
           showBtn.textContent = "show";
           showBtn.style.color = "#222";
         }
        });
      </script>
      <footer><p>Copyright &copy;2020 Virtual hospital</p></footer>  
</body>
</html>