{% extends "myapp/base2.html" %}
{% load crispy_forms_tags %}
{% block title %}Registration{% endblock %}

{% block body %}

<div class="content-section " >
    <form method="POST">
        {% csrf_token %}
    <div class="form-group"> 
        <fieldset class="form-group" >
            <legend class="mx-auto" style="width: 200px;">Join Today</legend>
          <div class="form-control"> {{ user_form|crispy }}</div> 
            
        </fieldset>
        <div class="form-group" >
            <button class="btn btn-outline-info mx-5  btn-primary" type="submit">Sign Up</button>
        </div>
    </div>
    </form>
    <div class="border-top pt-3">
       
    </div>
</div>
{% endblock %}