{%extends 'myapp/base.html'%}
{% block title %}Search Hospitals{% endblock %}
{%block body%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{%url 'index'%}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="{%url 'show_login'%}">Login</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST">
        {%csrf_token%}
        <input class="form-control mr-sm-2" type="search" name="hospital" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br><br>
  <div class="title-section text-center pb-lg-5">
    <h2 class="text-primary">Future of Healthcare</h2>
    <h3 class="w3ls-title text-center text-capitalize">Hospitals</h3>
</div>
  {%for hospital in hospitals%}
  <section class="team-agile py-lg-5">
      <div class="container py-sm-5 pt-5 pb-0">
          
          
          <div class="row mt-5 pb-lg-5">
              <div class="col-md-4 border p-0 my-auto">
                  <img src="{{hospital.picture.url}}" class="img-fluid" alt="team-img" />
              </div>
              <div class="col-md-8 team-text mt-md-0 mt-5">
                  <h4>{{hospital.name}}</h4>
                  <small>{{hospital.address}}</small>
                  <p class="my-3"></p>
                  <ul class="list-group mb-3">
                      <li class="list-group-item border-0 py-0">
                          <i class="far fa-check-square  mr-3"></i>
                          Phone  : {{hospital.phone}}  </li>
                  </ul>
                  
                 
                  
              </div>
          </div>
          
      </div>
  </section>
  {%endfor%}
  

<div class="pagination justify-content-center">
  {% if hospitals.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ hospitals.previous_page_number }}">Previous</a>
{% endif %}

{% for num in hospitals.paginator.page_range %}
  {% if hospitals.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > hospitals.number|add:'-2' and num < hospitals.number|add:'2' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if hospitals.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ hospitals.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ hospitals.paginator.num_pages }}">Last</a>
{% endif %}
</div>
{%endblock%}