{% extends "myapp/base.html" %}
{% block body %}
<h1>Hello,you are in appointment</h1>
{%if user.is_staff%}
<h2>your's notifications:</h2>

<li>
    {%for patient in patients%}
     <ul>{{patient}}</ul>
    
    </li>
    {%endfor%}

{%else%}

<label for="notify">Send notification to nakul</label>
<button value="nakul"  id="notify">Send</button>

<form action="{% url 'request' %}" method="POST">
    {% csrf_token %}
    <button name="nakul" type="submit" value="nakul">send</button>
    <button name="subject" type="submit" value="fav_CSS">CSS</button>
    </form>
    
{%endif%}
{% endblock %}